{% extends '::base.html.twig' %}

{% block body -%}
    <h2>Réservations</h2>

    {% for meal in meals %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <strong>{% if meal.time %}{{ meal.time|localizeddate('full', 'short')|capitalize }}{% endif %}</strong>
                </h3>
                <p>{{ meal.starter }} / {{ meal.maincourse }} / {{ meal.dessert }}</p>
                {{ meal.getAvailableSeats }} places disponibles sur {{ meal.numberOfGuests }}
            </div>
            <div class="panel-body">
                {% set reservations = meal.getReservations() %}
                {% if (reservations.isEmpty) %}
                    <div>Aucune réservation</div>
                {% else %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Date de réservation</th>
                            <th>Convive</th>
                            <th>Formule</th>
                            <th>Statut</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for reservation in reservations %}
                            <tr>
                                <td>{{ reservation.date|localizeddate('medium', 'short') }}</td>
                                <td>{{ reservation.guest.firstname }} {{ reservation.guest.lastname }}</td>
                                <td>{{ reservation.formula | displayFormula}}</td>
                                <td>{{ reservation.displayStatus }}</td>
                                <td>
                                    {% if (reservation.getStatus in ["PENDING", "REJECTED"]) %}
                                        {% render(controller('MamidiClassifiedBundle:Reservation:accept_form', { 'id' : reservation.id })) %}
                                    {% endif %}
                                    {% if (reservation.getStatus in ["PENDING", "ACCEPTED"]) %}
                                        {% render(controller('MamidiClassifiedBundle:Reservation:reject_form', { 'id' : reservation.id })) %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>

    {% endfor %}
{% endblock %}
