{% extends '::base.html.twig' %}

{% block body -%}
    <h2>Réservations</h2>

    <table class="records_list table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Hôte</th>
            <th>Entrée</th>
            <th>Plat</th>
            <th>Dessert</th>
            <th>Nombre de convives</th>
            <th>Statut</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for reservation in entities %}
            {% set entity = reservation.getMeal() %}
            <tr>
                <td>{% if entity.time %}{{ entity.time|localizeddate('medium', 'short') }}{% endif %}</td>
                <td>{{ entity.host }}</td>
                <td>{{ entity.starter }}</td>
                <td>{{ entity.maincourse }}</td>
                <td>{{ entity.dessert }}</td>
                <td>{{ entity.numberOfGuests }}</td>
                <td>{{ reservation.displayStatus }}</td>
                <td>
                    <a href="{{ path('meal_show', { 'id': entity.id }) }}" class="btn btn-link">Voir</a>
                    {% if is_granted('ROLE_GUEST') %}
                        {% if (entity.isBookedBy(guest)) %}
                            {% render(controller('MamidiClassifiedBundle:Reservation:cancel_form', { 'id' : entity.id })) %}
                        {% else %}
                            {% render(controller('MamidiClassifiedBundle:Meal:book_form', { 'id' : entity.id })) %}
                        {% endif %}
                    {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
