{% extends '::base.html.twig' %}

{% block body -%}
    <h2>Repas de {{ host.username }}</h2>
    {% if (entities is empty) %}
        Aucun repas
    {% else %}
    <table class="records_list table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Entrée</th>
            <th>Plat</th>
            <th>Dessert</th>
            <th>Nombre de convives</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{% if entity.time %}{{ entity.time|date('l d F H:i') }}{% endif %}</td>
                <td>{{ entity.starter }}</td>
                <td>{{ entity.maincourse }}</td>
                <td>{{ entity.dessert }}</td>
                <td>{{ entity.numberOfGuests }}</td>
                <td>
                    <a href="{{ path('meal_show', { 'id': entity.id }) }}">voir</a>
                    {% if isCurrentHost %}
                        <a href="{{ path('meal_edit', { 'id': entity.id }) }}">modifier</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% if isCurrentHost %}
    <a href="{{ path('meal_new') }}" class="btn btn-primary">
        Ajouter un repas
    </a>
{% endif %}
{% endblock %}
