{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <h2>Connexion</h2>
{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    Vous êtes déjà connecté
{% else %}
<form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">
    <div id="form">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="form-group">
            <label for="username" class="control-label col-lg-2">{{ 'security.login.username'|trans }}</label>
            <div class="col-lg-10">
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="control-label col-lg-2">{{ 'security.login.password'|trans }}</label>
            <div class="col-lg-10">
                <input type="password" id="password" name="_password" required="required" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label for="remember_me"  class="control-label col-lg-2">{{ 'security.login.remember_me'|trans }}</label>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-primary"/>
            </div>
        </div>
    </div>
</form>

    Pas encore inscrit ?<br>
<a href="{{ path('guest_registration') }}">{{ 'registration.guest'|trans({}, 'MamidiUserBundle') }}</a> /
<a href="{{ path('host_registration') }}">{{ 'registration.host'|trans({}, 'MamidiUserBundle') }}</a>
{% endif %}
{% endblock fos_user_content %}
