{% extends '::base.html.twig' %}

{% block body -%}
    <h2>Modification du repas</h2>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" class="btn btn-primary" value="Mettre à jour">
    {{ form_end(edit_form) }}

    <br><br><div>
    {{ form_start(delete_form) }}
    {{ form_widget(delete_form) }}
    <input type="submit" class="btn btn-danger" value="Supprimer">
    {{ form_end(delete_form) }}
    </div>
{% endblock %}
