{% extends '::base.html.twig' %}

{% block body -%}
    <h2>Repas chez {{ entity.host }} le  {{ entity.time|localizeddate('full', 'short') }}</h2>
<h3>Lieu : {{ entity.displayLocationFor(app.user) }}</h3>
    {% if not entity.isConfirmedFor(app.user) %}
        <div>Adresse exacte indiquée uniquement sur les réservations confirmées<br><br></div>
    {% endif %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Menu</h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <tbody>
            <tr>
                <th>Entrée</th>
                <td>{{ entity.starter }}</td>
            </tr>
            <tr>
                <th>Plat</th>
                <td>{{ entity.maincourse }}</td>
            </tr>
            <tr>
                <th>Dessert</th>
                <td>{{ entity.dessert }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
    <div>
<strong>{{ entity.numberOfGuests - entity.getAvailableSeats }} convives inscrits</strong><br>
<strong>{{ entity.getAvailableSeats }} places disponibles</strong>
</div>

    {% if is_granted('ROLE_GUEST') %}
        {% if (entity.isBookedBy(app.user)) %}
            {% render(controller('MamidiClassifiedBundle:Reservation:cancel_form', { 'id' : entity.id })) %}
        {% else %}
            {% render(controller('MamidiClassifiedBundle:Meal:book_form', { 'id' : entity.id })) %}
        {% endif %}
    {% endif %}

    {% if is_current_host %}
        <a href="{{ path('meal_edit', { 'id': entity.id }) }}">modifier</a>
        {{ form(delete_form) }}
    {% endif %}

    <a href="{{ path('meal') }}" class="btn btn-link">Retour</a>

{% endblock %}
