{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Menu</h1>

    <table class="record_properties table">
        <tbody>
            <tr>
                <th>Date</th>
                <td>{{ entity.time|date('l d F H:i') }}</td>
            </tr>
            <tr>
                <th>Entrée</th>
                <td>{{ entity.starter }}</td>
            </tr>
            <tr>
                <th>Plat</th>
                <td>{{ entity.maincourse }}</td>
            </tr>
            <tr>
                <th>Dessert</th>
                <td>{{ entity.dessert }}</td>
            </tr>
            <tr>
                <th>Nombre de convives</th>
                <td>{{ entity.numberOfGuests }}</td>
            </tr>
        </tbody>
    </table>


    {% if is_granted('ROLE_GUEST') %}
        {% if (entity.isBookedBy(app.user)) %}
            {% render(controller('MamidiClassifiedBundle:Reservation:cancel_form', { 'id' : entity.id })) %}
        {% else %}
            {% render(controller('MamidiClassifiedBundle:Meal:book_form', { 'id' : entity.id })) %}
        {% endif %}
    {% endif %}

    {% if is_current_host %}
        <a href="{{ path('meal_edit', { 'id': entity.id }) }}">modifier</a>
        {{ form(delete_form) }}
    {% endif %}

    <a href="{{ path('meal') }}">Retour</a>

{% endblock %}
